<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    Welcome to the {{title}}
  </h1>
  <div>
    <h3>List of cars:</h3>
    <ul class="cars">
      <li *ngFor="let car of cars" 
          (click)="onSelect(car)" 
          [class.selected]="car === selectedCar">
        <span class="badge">{{car.id}}</span> {{car.make}}
      </li>  
    </ul>
  </div>
  <h3>Selected car: <br></h3>
  <div *ngIf="selectedCar">
    <div>
      <label>Id: </label>{{selectedCar.id}} <br>
    </div>
    <div>
      <label for="">Make: </label>{{selectedCar.make}} <br>
    </div>
    <div>
      <label for="">Model: </label>{{selectedCar.model}} <br>
    </div>
    <div>
      <label for="">Notes: </label>
      <input [(ngModel)]="selectedCar.notes" placeholder="notes">
    </div>
  </div>
</div>
